@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 40px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  display: flex;
  align-items: center;
  &__img-1{
    width: 50px;
    height: 40px;
  }
  &__img-2{
    margin-left: 12px;
    width: 85px;
    height: 27px;
  }
}


.menu{
  @extend %rubik-500;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 32px;
    
  }
  &__list-link{
    color: #436372;
    font-size: 15px;
    line-height: 12px;

  }
}


.user-nav{
  display: flex;

  &__link{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 17px 0;
    border-radius: 50%;
   
    
  }
  &__link--search{
    background-color: #edf1f4;
    margin-right: 20px;
    padding-left: 18px;
  }
  &__link--heart,
  &__link--cart{
    width: 88px;
    background-color: #fcd7b6;
    padding-left: 35px;
  }
  &__link--heart{
    border-radius: 50px 0 0 50px;
    &::after{
      content: '';
      width: 1px;
      height: 32px;
      background-color: #fde7b3;
      position: absolute;
      right: 0;
      top: 9px;
    }
  }
  &__link--cart{
    border-radius: 0 50px 50px 0;
  }
  &__link--menu{
    background-color: #a3bbc8;
    margin-left: 20px;
    padding: 15px 0;
    padding-left: 15px;
  }
  &__img{
    margin: 0 auto;
  }
  &__count{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
    background-color: #fff;
    text-align: center;
    color: #243f4d;
    position: absolute;
    top: 9px;
    right: 24px;
  }
}



.top-slider{
  &__inner{
    padding-top: 280px;
    padding-bottom: 280px;
    background-image: url(../images/slider-bg.png); 
  }
  &__content{
    padding-right: 100px;
  }
  &__content-top{
    display: flex;
    justify-content: center;
    
  }
  &__title{
    max-width: 470px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 45px;
    
  }
  
  &__text{
    max-width: 370px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
     margin-bottom: 45px;
  }
  &__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #a3bbc8;
    color: #fff;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    padding: 25px ;

  }
  &__link{
     color: #fff;
  }
  

  .slick-dots{
    display: flex;
    justify-content: center;
    transform: translateY(200px);
    li{
      padding: 0 10px;
      button{
        padding: 0;
        font-size: 10px;
        line-height: 9px;
        @extend %rubik-500;
        color: #243f4d;
        background-color: #fde3cc;
        width: 27px;
        height: 27px;
        border: none;
        border-radius: 50%;
        }
      }
          slick-active{
            button{
            background-color: #fff;
            }
          }
    }
  }




.info{
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
  background-color: #fef7f0;
  &__item{
  display: flex;
  align-items: center;
  }
  &__item-icon{
  margin-bottom: 30px;
  max-width: 55px;
  margin-right: 25px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
  }
  &__item-text{
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    max-width: 210px;
  }
}



.product{
  padding: 75px 0 85px;
  margin-bottom: 200px;
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    justify-content: center;
    grid-gap: 45px 30px;
  }
  &__title{
    text-align: center;
    font-size: 36px;
    @extend %dmsans-700;
    margin-bottom: 35px;
  }
  &__menu{
  margin-bottom: 80px;
  }
  &__menu-list{
    display: flex;
    justify-content: center;
   padding: 0 30px;
   
  }
  &__menu-item {
      padding: 0 15px;
    
  }
  &__menu-link{
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    text-decoration: none;
    border: none;
    background-color: transparent;
  }
  &__menu-link:hover{
    color: #000000;
    transition: all .5s;
  }
}




.product-item{
  max-width: 270px;
  transition: all .3s;
   background-color: #fff;
   box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
   text-align: center;
   &__img-box{
    height: 310px;
    display: flex;
    flex-direction: column;
    padding: 30px 15px 0px;
    position: relative;
    overflow: hidden;
  
  }
  &__link-box{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 175px;
    padding-top: 175px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(300%);
    
  }
  &__link{
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-top: 12px;
    padding-left: 3px;

  }

  &__link:hover{
    background-color: #a3bbc8;
    transition: all .3s;
    & path{
      fill: #fff;
    }
  }

  &__svg{
    width: 25px;
  }

  &__images{
    object-fit: contain;
    object-position: center;
    height: 250px;
  }
  &:hover{
    .product-item__link-box{
      transform: translateY(0);
    }
  }
  &__name{
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 40px;
    color: #243f4d;
   
  }
  &__price{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
     margin-bottom: 20px;
  }
  
}



.lamps{

&-items{
  display: flex;
  justify-content: space-between;
 
}

&-item__text{
  max-width: 340px;
}

&-item{
  padding: 90px 135px 100px 390px;
  background-color: #feefe2;
  position: relative;
}
&-item__image{
  position: absolute;
    left: 15%;
    top: -20%;
}
&-item__title{
  max-width: 265px;
  @extend %dmsans-700;
  font-size: 26px;
  line-height: 32px;
  color: #243f4d;
  margin-bottom: 30px;
}
&-item__text{
  @extend %dmsans-400;
  font-size: 16px;
  line-height: 30px;
  color: #243f4d;
  margin-bottom: 35px;
}
&-item__btn{
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 25px 20px;
  width: 180px;
  border: 1px solid #b3b7b5;
  border-radius: 5px;
}

&-item__link{
  @extend %rubik-500;
  font-size: 15px;
  line-height: 12px;
  color: #436372;

}


}
























footer{
  max-width: 1170px;
  margin: 0 auto;
}

.footer-top{
  color: #7b7b7b;
  padding: 78px 0 74px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;




  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__nav{
    margin-right: 180px;
  }
  &__nav-2{
    margin-right: 200px;
  }
  &__logo{
    margin-bottom: 32px;
 
  }
  &__news{
    max-width: 270px;
  }
  &__title{
    color: #1f2044;
    text-transform: uppercase;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    padding-top: 20px;
  }
  &__link,
  &__tel,
  &__mail{
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 18px;
    
  }
  &__adress,
  &__text{
     @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 24px;
  }
  &__text{
    margin-bottom: 35px;
  }
   &__adress{
     display: block;
     margin-bottom: 18px;
   }
   &__mail{
     display: block;
  }
  &__form-input{
  background-color: #fef7f0 ;
  max-width: 170px;
  width: 100%;
  border: none;
  padding: 14px 10px 14px 15px;
  &::placeholder{
    color: #234969;
    @extend %dmsans-400;
    font-size: 12px;
    line-height: 21px;
  }

  }
  &__form-btn{
    color: #ffffff;
    border: none;
    background-color: #234969;
     @extend %dmsans-400;
     font-size: 14px;
     line-height: 21px;
     padding: 13px 14px;
     cursor: pointer;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy{
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 32px;
  }
  &__list{
    display: flex;
    
   
  }
  &__link{
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 32px;
    padding: 2px 15px;
    border-right: solid 1px #7b7b7b;
  }
  &__link-contact{
    border: none;
  }
}























@import 'media';
