@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
  padding: 40px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  display: flex;
  align-items: center;
  &__img-1{
    width: 50px;
    height: 40px;
  }
  &__img-2{
    margin-left: 12px;
    width: 85px;
    height: 27px;
  }
}


.menu{
  @extend %rubik-500;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 32px;
    
  }
  &__list-link{
    color: #436372;
    font-size: 15px;
    line-height: 12px;

  }
}


.user-nav{
  display: flex;

  &__link{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 17px 0;
    border-radius: 50%;
   
    
  }
  &__link--search{
    background-color: #edf1f4;
    margin-right: 20px;
    padding-left: 18px;
  }
  &__link--heart,
  &__link--cart{
    width: 88px;
    background-color: #fcd7b6;
    padding-left: 35px;
  }
  &__link--heart{
    border-radius: 50px 0 0 50px;
    &::after{
      content: '';
      width: 1px;
      height: 32px;
      background-color: #fde7b3;
      position: absolute;
      right: 0;
      top: 9px;
      
    }
  }
  &__link--cart{
    border-radius: 0 50px 50px 0;
  }
  &__link--menu{
    background-color: #a3bbc8;
    margin-left: 20px;
    padding: 15px 0;
    padding-left: 15px;
  }
  &__img{
    margin: 0 auto;
  }
  &__count{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 16px;
    background-color: #fff;
    text-align: center;
    color: #243f4d;
    position: absolute;
    top: 9px;
    right: 24px;
  }
}



.top-slider{
  &__inner{
    padding-top: 280px;
    padding-bottom: 280px;
    background-image: url(../images/slider-bg.png); 
  }
  &__content{
    padding-right: 100px;
  }
  &__content-top{
    display: flex;
    justify-content: center;
    
  }
  &__title{
    max-width: 470px;
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    margin-bottom: 45px;
    
  }
  
  &__text{
    max-width: 370px;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
     margin-bottom: 45px;
  }
  &__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: #a3bbc8;
    color: #fff;
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    padding: 25px ;

  }
  &__link{
     color: #fff;
  }
  

  .slick-dots{
    display: flex;
    justify-content: center;
    transform: translateY(200px);
    li{
      padding: 0 10px;
      button{
        padding: 0;
        font-size: 10px;
        line-height: 9px;
        @extend %rubik-500;
        color: #243f4d;
        background-color: #fde3cc;
        width: 27px;
        height: 27px;
        border: none;
        border-radius: 50%;
        }
      }
          slick-active{
            button{
            background-color: #fff;
            }
          }
    }
  }




.info{
  padding: 50px 150px;
  display: flex;
  justify-content: space-between;
  background-color: #fef7f0;
  &__item{
  display: flex;
  align-items: center;
  }
  &__item-icon{
  margin-bottom: 30px;
  max-width: 55px;
  margin-right: 25px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
  }
  &__item-text{
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    max-width: 210px;
  }
}



.product{
  padding: 75px 0 85px;
  margin-bottom: 200px;
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 270px);
    justify-content: center;
    grid-gap: 45px 30px;
  }
  &__title{
    text-align: center;
    font-size: 36px;
    @extend %dmsans-700;
    margin-bottom: 35px;
  }
  &__menu{
  margin-bottom: 80px;
  }
  &__menu-list{
    display: flex;
    justify-content: center;
   padding: 0 30px;
   
  }
  &__menu-item {
      padding: 0 15px;
    
  }
  &__menu-link{
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    text-decoration: none;
    border: none;
    background-color: transparent;
  }
  &__menu-link:hover{
    color: #000000;
    transition: all .5s;
  }
}




.product-item{
  max-width: 270px;
  transition: all .3s;
   background-color: #fff;
   box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
   text-align: center;
   &__img-box{
    height: 310px;
    display: flex;
    flex-direction: column;
    padding: 30px 15px 0px;
    position: relative;
    overflow: hidden;
  
  }
  &__link-box{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 175px;
    padding-top: 175px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateY(300%);
    
  }
  &__link{
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-top: 12px;
    padding-left: 3px;

  }

  &__link:hover{
    background-color: #a3bbc8;
    transition: all .3s;
    & path{
      fill: #fff;
    }
  }

  &__svg{
    width: 25px;
  }

  &__images{
    object-fit: contain;
    object-position: center;
    height: 250px;
  }
  &:hover{
    .product-item__link-box{
      transform: translateY(0);
    }
  }
  &__name{
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 40px;
    color: #243f4d;
   
  }
  &__price{
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
     margin-bottom: 20px;
  }
  
}



.lamps{
margin-bottom: 100px;
&-items{
  display: flex;
  justify-content: space-between;
  gap: 15px;

 
}

&-item__text{
  max-width: 340px;
}

&-item{
  padding: 90px 135px 100px 390px;
  background-color: #feefe2;
  position: relative;
}
&-item__image{
  position: absolute;
    left: 15%;
    top: -20%;
}
&-item__title{
  max-width: 265px;
  @extend %dmsans-700;
  font-size: 26px;
  line-height: 32px;
  color: #243f4d;
  margin-bottom: 30px;
}
&-item__text{
  @extend %dmsans-400;
  font-size: 16px;
  line-height: 30px;
  color: #243f4d;
  margin-bottom: 35px;
}
&-item__btn{
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 25px 20px;
  width: 180px;
  border: 1px solid #b3b7b5;
  border-radius: 5px;
}

&-item__link{
  @extend %rubik-500;
  font-size: 15px;
  line-height: 12px;
  color: #436372;

}
}


.design{
  margin-bottom: 120px;
  &__title{
    text-align: center;
    margin-bottom: 30px;
    @extend %dmsans-700;
    font-size: 36px;
    line-height: normal;
  }

  &__menu{
    margin-bottom: 80px;
  }

  &__menu-list{
    display: flex;
    justify-content: center;
    
  }
  &__menu-link{
    text-decoration: none;
    border: none;
    background-color: transparent;
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
  }
  &__menu-link:hover{
    color: #000000;
    transition: all .5s;
  }

  &__items{
    display: grid;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
    grid-gap: 35px 30px;
  }
  &__item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 245px;
    // max-width: 370px;
    width: 100%;
  }
  &__item-inner{
    padding-top: 40px;
    padding-left: 37px;
  }

  &__item-title{
    max-width: 180px;
    @extend %dmsans-700;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__item-text{
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
  }
}




.video{
  height: 500px;
  background-image: url('../images/video-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 120px;
  &__popup{
    display: flex;
    justify-content: center;
    padding-top: 185px;
  }
  &__link:hover{
    transform: translateY(1px);
    opacity: 0.9;
  }
}





.blog{
  max-width: 1170px;
  margin: 0 auto;
    &__inner{
    display: flex;
    justify-content: space-between;
      margin-bottom: 50px;
    }
    &__link-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    }
    &__link{
     list-style: none;
     @extend %dmsans-700;
    font-size: 16px;
     
    }
    &__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: normal;
    }

    &__link-img{
      padding-left: 20px;
    }
    &__items{
      display: flex;
      justify-content: space-between;
      
    }
    &__item{
      width: 370px;
      height: 420px;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        background-image: url(../images/news.png);
        width: 100px;
        height: 30px;
        top: 235px ;
        left: 30px;
      }
    }
    &__item-text{
      max-width: 290px;
      @extend %dmsans-500;
      font-size: 18px;
      color: #222933;
      margin-bottom: 20px;
      height: 70px;
      padding-left: 3px;
      
      
    }
    &__item-data{
      @extend %rubik-400;
      font-size: 12px;
      line-height: 30px;
      color: #222933;
      padding-right: 40px;
      padding-left: 15px;
    }
    &__item-author{
      @extend %rubik-400;
      font-size: 12px;
      line-height: 30px;
      color: #222933;
    }
    &__item-info{
      padding: 30px;
      background-color: #fff;
    }
    &__item-bottom{
      display: flex;
      justify-content: left; 
      border-top: 1px solid #e0e0e0;
      padding-top: 20px;
    }
  }




.partners{
  margin: -170px auto 80px;
  height: 440px;
  background-color: #fef7f0;
  &__list{
   display: flex;
   justify-content:center;    
   }
  &__item{
    padding: 0 50px;
  }
}
ul.partners__list{
  padding-top: 280px;
}





.top{
  &__header{
    padding: 35px 0;
    background-color: #edf1f4;
    text-align: center;
    
  }
  &__title{
    @extend %rubik-400;
    font-size: 36px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}



.login{
  max-width: 475px;
  width: 100%;
  margin: 120px auto;
  &__label{
    // margin-bottom: 30px;
    // display: block;
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
  }
  &__input{
    display: block;
    width: 100%;
    height: 60px;
    border: 2px solid #f6f6f6;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 15px;
   
  }
  &__btn{
    display: block;
    background-color: #a3bbc8;
    @extend %rubik-500;
    font-size: 18px;
    color: #fff;
    border: none;
    height: 60px;
    max-width: 475px;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 30px;
    cursor: pointer;
  }
  &__links{
    display: flex;
    justify-content: space-between;
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
    border-bottom: 2px solid #f6f6f6;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  &__error{
    color: #436372;
  }
  &__text{
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  &__btn-2{
    display: block;
    background-color: transparent;
    @extend %rubik-500;
    font-size: 18px;
    border: 2px solid #a3bbc8;
    height: 60px;
    max-width: 475px;
    width: 100%;
    padding: 16px 0;
    cursor: pointer;
    margin-bottom: 120px;
  }
  &__link-2{
    color: #243f4d;
  }
}


.partners-login{
  margin: 0 auto 70px;
  padding: 100px 0;
  background-color: #fef7f0;
  &__list-login{
   display: flex;
   justify-content:center;
   align-items: center;   
   }
  &__item-login{
    padding: 0 50px;
  }
}



.terms{
  padding: 120px 0;
  max-width: 1200px;
  margin: 0 auto;
  &__title{
    margin-bottom: 30px;
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    color: #243f4d;
  }
  &__text{
    margin-bottom: 30px;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
  }
  &__list{
    list-style-type: decimal-leading-zero;
 
  }
  &__text-list{
    margin-left: 30px;

  }
}

.shop{
  padding: 120px 0;
  &__container{
    max-width: 1170px;
    margin: 0 auto;
  }
  &__inner{
    display: flex;
  }
  &__filters{
    width: 275px;
    margin-right: 35px;
  }
}


.filter__item{

  &-top{
    display: flex;
    margin-bottom: 30px;
  }

}

.filter__title{
  margin-right: 17px;
  @extend %dmsans-700;
  font-size: 18px;
  color: #243f4d;
}

.filter-price{
  margin-bottom: 80px;
  &__label{
  @extend %rubik-400;
  font-size: 14px;
  line-height: 43px; 
  display: flex;

  margin-top: 25px;
  color: #243f4d;
  }
  
  &__from{
    margin-right: auto;
   
  }
  
}


.irs--flat .irs-line {
    top: 30px;
    height: 3px;
    background-color: #c2d2db;
    border-radius: 4px;
}

.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 15px;
    height: 100%;
    margin-left: -1px;
    background-color: #a3bbc8;
}


.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background-color: #a3bbc8;
}


.irs--flat .irs-bar {
    top: 30px;
    height: 4px;
    background-color: #a3bbc8;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    
  color: #243f4d;
    font-size: 14px;
    line-height: 43px;
    text-shadow: none;
    padding: 1px 5px;
    background-color: transparent;
    border-radius: 4px;
    @extend %rubik-400;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
display: none;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
display: none;
}


.filter-price__form{
margin-top: -25px;
}



.filter-category{
  &__form{
    margin-bottom: 50px;
  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px 0px 15px;
    @extend %rubik-400;
    line-height: 43px;
    font-size: 16px;
    color: #243f4d;
    cursor: pointer;
  }
  &__link:hover{
    background-color: #edf1f4;
    .filter-category__numb{
      color: #243f4d;
    }
  }
  &__numb{
    color: #b3b3b3;
    
  }
  
}

.filter__items{
  display: flex;
   margin-bottom: 20px;
  &-img{
    border: 2px solid #f2f2f2;
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-right: 20px;
    padding: 2px 0;
  }
  
}
.filter__item{
 
  &-box{
    display: block;
    align-self: start;

  }
  &-text{
  margin-bottom: 12px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 15px;
    color: #333333;
}
  &-star{
    margin-bottom: 12px;
  }
  &-price{
    @extend %rubik-400;
    font-size: 15px;
    line-height: 27px;
    color: #333333;
  }
}




.jq-ry-container {
    padding: 0;
}


































footer{
  max-width: 1170px;
  margin: 0 auto;
}

.footer-top{
  color: #7b7b7b;
  padding: 78px 0 74px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;




  &__contact{
    width: 200px;
    margin-right: 100px;
  }
  &__nav{
    margin-right: 180px;
  }
  &__nav-2{
    margin-right: 200px;
  }
  &__logo{
    margin-bottom: 32px;
 
  }
  &__news{
    max-width: 270px;
  }
  &__title{
    color: #1f2044;
    text-transform: uppercase;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    padding-top: 20px;
  }
  &__link,
  &__tel,
  &__mail{
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 32px;
    margin-bottom: 18px;
    
  }
  &__adress,
  &__text{
     @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 24px;
  }
  &__text{
    margin-bottom: 35px;
  }
   &__adress{
     display: block;
     margin-bottom: 18px;
   }
   &__mail{
     display: block;
  }
  &__form-input{
  background-color: #fef7f0 ;
  max-width: 170px;
  width: 100%;
  border: none;
  padding: 14px 10px 14px 15px;
  &::placeholder{
    color: #234969;
    @extend %dmsans-400;
    font-size: 12px;
    line-height: 21px;
  }

  }
  &__form-btn{
    color: #ffffff;
    border: none;
    background-color: #234969;
     @extend %dmsans-400;
     font-size: 14px;
     line-height: 21px;
     padding: 13px 14px;
     cursor: pointer;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy{
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 32px;
  }
  &__list{
    display: flex;
    
   
  }
  &__link{
    @extend %rubik-400;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 32px;
    padding: 2px 15px;
    border-right: solid 1px #7b7b7b;
  }
  &__link-contact{
    border: none;
  }
}


.shop-content{

  &__items{
    display: grid;
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
    grid-gap: 45px 30px;

  }
}


.shop-content2{

  &__item{
    display: flex;
    
  }
  &__text{
    max-width: 420px;
  }
  &__title{
    @extend %rubik-400;
    font-size: 40px;
    line-height: 27px;
    color: #333333;
    margin-bottom: 25px;
    margin-top: 90px;
  }
  &__img{
    height: 500px;
    width: 370px;
    border: 2px solid #f2f2f2;
    padding: 80px 20px;
    margin-right: 60px;
    margin-bottom: 40px;
    background-color: #fefefe;
    
  }
  &__image{
    object-fit: contain;
    object-position: center;
  }
  &__star{
    margin-bottom: 40px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 40px;
  }
  &__price{
    display: block;
    @extend %rubik-400;
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    margin-bottom: 40px;
  }
  &__link{
    display: inline-block;
    
    padding: 14px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &:hover{
      background-color: #a2bac7;
      transition: all .3s;
      & path{
      fill: #fff;
     }
    }
  }
}

.pagination__2{
  justify-content: start;
}



.details{
  padding: 120px 0 100px 0;
  &-container{
    width: 1170px;
    margin: 0 auto;
  }
}

.details-item{
  &__inner{
    display: flex;
  }
  &__slide{
    width: 550px;
    margin-right: 70px;
  }
  &__content{
    width: 550px;
  }
  &__title{
    margin: 30px 0 27px 0;
    @extend %rubik-400;
    font-size: 40px;
    line-height: 27px;
    color: #333333;
  }
  &__star{
    margin-bottom: 35px;
    padding-right: 15px;
  }
  &__price{
     @extend %rubik-400;
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    margin-bottom: 30px;
  }
  &__text{
    max-width: 535px;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 30px;
  }
 
  &__input{
    margin-right: 15px;
    border: none;
  }
  &__btn{
    padding: 20px 50px;
    background-color: #a3bbc8;
    border: none;
    border-radius: 5px;
    @extend %rubik-400;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    max-width: 210px;
    width: 100%;
    cursor: pointer;
  }
  
}

.details-slide{
  display: flex;
  &__thumb{
  width: 140px;
  margin-right: 30px;
  }
  &__thumb-item{
    margin-bottom: 30px;
    width: 140px;
    height: 160px;
    border: 2px solid #f2f2f2;
    img{
    width: 140px;
    height: 140px;
    object-fit: contain;

    }
  }
  &__big{
    height: 552px;
    width: 385px;
    border: 2px solid #f2f2f2;
    img{
      width: 235px;
      height: 410px;
      object-fit: cover;
      margin: 50px auto;
    }
  }
}

.details-info{
  margin-top: 55px;
  &__list{
  display:inline-block;

  }
  &__item{
    display: flex;
  }
  &__title{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-right: 5px;
  }
  &__text{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    cursor: pointer;
  }
}


.jq-number__field {
    width: 148px;
    height: 70px;
    border: 1px solid #a3bbc8;
    box-shadow: none;
}

.jq-number__field input {
    width: 100%;

    padding: 10px 0px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 45px;
    color: #333;
    text-align: center;
}

.jq-number {
    padding: 0;
    position: relative;
}

.jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 12px;
    height: 12px;
     top: 49%;
     transform: translateY(-50%);
}

.jq-number__spin.minus{
left: 30px;

}
.jq-number__spin.plus{
right: 30px;

}

.jq-number__spin::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 1px;
    background-color: #333;
    width: 13px;
    height: 3px;
  }
.jq-number__spin.plus::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 6px;
    background-color: #333;
    width: 3px;
    height: 12px;
  }





















@import 'media';
